<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Input Printer</h1>
    <h1>Hello User</h1>
    
    <form method="get">
        <label for="query">Search: </label>
        <input type="text" id="query" name="query">
        <input type="submit" value="Search"></input>
    </form>

    <span id="search-query"></span>

    <script type="application/javascript">
        var searchParams = new URLSearchParams(document.location.search);
        if(searchParams.has("query")){
            document.getElementById("search-query").innerHTML = "You searched for " + searchParams.get("query")
        }
    </script>
</body>
</html>